<div class="event-search-container">
      <div class="event-search-results">
        <!-- insert search_event_card partial here -->
        <%= render 'shared/search_event_card' %>
      </div>

        <div class="event-search-map hidden-xs" id="searchmap">
            <%= render 'shared/searchmap' %>
        </div>

</div>






