<!-- <div class ="container"> -->
<%= render 'shared/search_banner' %>
<%= render 'shared/search_filter_nav.html.erb' %>
<%#= link_to 'View all artists', artists_path %>
<%= render 'shared/searchcard' %>
<!-- </div> -->
