<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('./app/assets/images/prom-glam.jpg');">
  <div class="banner-content">
    <img src="images/cam.jpeg" class="avatar">
    <h1>Lea Cohen</h1>
    <p>Makeup Artist | Barcelona | @lcohen</p>

  </div>
</div>
<div class="tabs">
  <a class="tab active" href="#">
    <h2>ABOUT</h2>
  </a>
  <a class="tab" href="#">
    <h2>PORTFOLIO</h2>
  </a>
  <a class="tab" href="#">
    <h2>REVIEWS</h2>
  </a>
  <a class="tab" href="#">
    <button class="btn-pamprd">REQUEST</button>
  </a>
</div>
<div class="container">
  <div class="row">


  </div>

</div>
