#dashboard-content-wrapper {
  width: 85%;
  margin-left: 15%;
}

.dashboard-container {
  background-color: #FAFAFA;
  color: #757575;
  padding-left: 10px;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.3px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.new-requests {
  background-color: #fff;
  padding: 20px 40px 20px 10px;
  margin: 20px 5px 5px 5px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
}

.new-requests h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.new-requests p {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}


.upcoming-bookings {
  background-color: #fff;
  padding: 20px 40px 20px 10px;
  margin: 20px 5px 5px 5px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
}

.upcoming-bookings h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.booking-list ul {
  list-style-type: none;
  padding-left: 0px;
}

.booking-list li {
  list-style-type: none;
}

.artist-profile {
  background-color: #fff;
  padding: 20px 20px;
  margin: 20px 5px 5px 5px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
}

.artist-profile-pic {

}

.artist-calendar {
  font-size: 10px;
  background-color: #fff;
  padding: 20px 20px;
  margin: 20px 5px 20px 20px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  height: 100vh;
}

.artist-calendar ul {
  list-style-type: none;
  padding-left: 0px;
}

.artist-financials {
  height: 100%;
}

.artist-profile-info {
  list-style-type: none;
  padding-left: 0px;
  line-height: 24px;
}

.artist-profile-info li {
  font-weight: 300;
}

.artist-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0px;
}

.artist-tags {
  font-style: italic;
  font-size: 12px;
}
