.dashboard-container {
  background-color: #FAFAFA;
  color: #757575;
}

.new-requests {
  background-color: #fff;
  padding: 20px 40px;

}

.upcoming-bookings {
  background-color: #fff;
  padding: 20px 40px;
}
