.edit-profile-title {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}


.edit-profile-form input[type=submit] {
  margin-top: 20px;
  color: #fff !important;
  &:hover {
    background-color: #212121;
  }
}
