.event-search-container {
  display: flex;
}

.event-search-map {
  height: 100vh !important;
  position: sticky !important;
}

// .iw-container {
//   border: 2px solid $pink;
// }

.search-map-popup {
  padding: 15px;
  height: auto;
  overflow: hidden;
}

.search-map-marker a {
  margin-top: 10px;
}

#searchmap {
  flex: 0 0 500px;
  top: 0 !important;
  height: 100vh;
  position: sticky !important;
  position: -webkit-sticky !important;
  position: -moz-sticky !important;
  overflow: hidden !important;
}
.event-search-results {
  margin-bottom: 30px;
  padding: 20px;
  flex-grow: 1;
}

.consumer-event {
  background-color: #fff;
  padding: 20px 20px;
  margin: 5px 5px 10px 5px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
}

.consumer-event h2 {
  font-size:18px;
  margin-bottom: 5px;
  display: inline;
}

.consumer-event h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;
}

.consumer-event i {
  padding: 20px 0px 0px 0px;
  display: inline;
}

.btn-event {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent !important;
  border-style: none;
  color: #757575;
  opacity: 0.8;
  border-radius: 2px;
  display: inline;
  padding: 7px px;
  &:hover {
    opacity: 1;
    color: $pink;
  }
}

.event-budget {
  font-style: italic;
  font-size: 11px;
}

.event-price {

  text-align: center;
}

.event-price h3 {
  margin-bottom: 10px !important;
  text-transform: uppercase;
}

.event-price h4 {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 5px;
}

.event-price a {
 padding-top: 10px !important;
}

.modal-content {
  text-align: left;
}

.modal-body h2 {
  font-family: 'Open Sans', sans-serif;
}
