// Specific CSS for your home-page

html, body {
  color: #757575;
  background-color: #fafafa;
  width: auto !important;
  height: auto;
  margin: 0 auto;
  overflow: auto;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0;
}

a {
  color: #757575;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $pink;
  }
}

a:active {
  color: #757575;
  text-decoration: none;
}

a:visited {
  color: #757575;
  text-decoration: none;
}

