// Specific CSS for your home-page

html, body {
  color: #757575;
  background-color: #fafafa;
  width: auto !important;
  height: auto;
  margin: 0 auto;
  overflow: auto;
}

.container {
  margin: 0 auto;
  padding: 0;
}

