.profile-banner {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-color: #fff;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-banner h1 {
  font-size: 30px;
  color: #757575;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.profile-banner p {
  font-size: 25px;
  font-weight: lighter;
  color: #757575;
  opacity: 0.6;
  margin-bottom: 30px;
}

.profile-rating i {
  color: yellow;
}


/*PROFILE CONTENT*/
.profile-container {
  padding: 20px 160px;
}

#about h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}




/*PROFILE TABS */
.tabs {
  background: #FFF;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: #757575;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h2 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 0;
}
.tab {
  background-color: #FFF;
  flex: 0 0 25%;
  text-align: center;
  padding: 10px 0;
}

.tab.active {
  background: white;
  color: #F7ABB2;
}


