.artist-banner-content {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
}
.artist-banner-content h1 {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color: #757575;
  font-weight: 400;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  margin-top: 5px !important;
}
.artist-banner-content p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #757575;
  opacity: 0.6;
  margin-bottom: 20px;
}

.profile-rating i {
  color: #fcbd00;
}

.profile-rating li {
  padding: 0px;
  margin-bottom: 0px;
}

.artist-banner-content ul {
  margin: 0 auto !important;
  display: inline;
}

.number-of-reviews {
  font-style: italic;
  font-weight: lighter;
  color: #757575;
  font-size: 14px;
  padding-bottom: 2px;
  display: inline;
}

.artist-profile-pic {
  max-width:100px;
  width: auto;
  height: auto;
  border-radius: 100%;
 /*for the img inside your div */
  margin-left: auto;
  margin-right: auto;
}

.request-btn {
  font-size: 12px;
  padding: 0px 10px !important;
}

.banner-content {
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
}


/*PROFILE CONTENT*/
.profile-container {
  padding: 20px 20px;

}

.row {
  width: 100%;
  margin: 0 auto;
}

#about h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

#about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300px;
  margin-bottom: 40px;
  letter-spacing: 0.3px;
}
.about-artist {
  padding: 20px 200px;

}

#portfolio {
  padding: 20px 200px;
}

.artist-portfolio-image {
  margin: 0 auto;
  padding: 0px;
  border-color: #fff;
  border-width: 5px;


}

.portfolio-img {
  width: auto;
  height: auto;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

/*REVIEW SECTION*/

#reviews {
  padding: 20px 150px;
  // width: 660px;
  // text-align: left;
  // word-wrap: break-word;
  margin-right: 0px !important;
}

.artist-review {
  margin-bottom: 20px !important;
}

.review-pic {
  align-content: right;
  text-align: right;
}

// #reviews ul {
//   margin-top: 5px !important;
//   margin-bottom: 3px !important;
//   padding-left: 5px;
// }

.review-card {
  margin: 10px 100px 20px 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(116, 116, 116, 0.1);
}

.review-details {
  line-height: 12px;
  text-align: left;
}

.review-details p {
  margin-bottom: 3px !important;
}

.review-content {
  line-height: 16px;
}

.review-card i {
  font-size: 14px;
  padding: 0px;
}

// .review-card ul {
//   text-align: right;
// }

// #reviews p {
//   display: inline;
// }

.review-client {
  font-size: 14px;
  font-weight: 400;
}
.review-date {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}

.review-content {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
}


/* NEW PROFILE TABS */

.artist-profile-tabs {
  display: table;
  margin: 0 auto;
}
.nav-tabs ul {
  text-align: center;

}
.nav-tabs li {
  text-transform: uppercase;
  padding: 0.94rem 6rem;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: #757575;
  font-size: 16px;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #f7abb2 !important;
  font-weight: 400;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #fafafa;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.tab-nav > li > a::after {
  background: #fafafa none repeat scroll 0% 0%;
  color: #fff;
}

.tab-content {
  padding: 0 !important ;
  margin-right: 0px !important;
}

.tab-content.active {
  margin-right: 0px;
}



/*MOBILE RESPONSIVE*/

@media screen and (max-width: 1000px) {
  .nav-tabs li {
    text-transform: uppercase;
    padding: 0.94rem 1rem;
  }

  .nav-tabs li a {
    font-size: 12px !important;
  }

  .about-artist {
    padding: 20px;
  }

  #portfolio {
    padding: 0px;
  }

  #reviews {
    padding: 20px;
    width: 90%;
    margin-right: 0px;
  }

  .review-pic {
    align-content: left;
    text-align: left;
  }

  .review-card {
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.1);
  }
}


/* OLD PROFILE TABS */
// .tabs {
//   background: transparent;
//   display: flex;
//   width: 100%;
//   overflow: hidden;
//   padding: 10px 20px 10px 20px;
// }
// .tabs a {
//   color: #757575;
//   font-weight: 300 !important;
// }
// .tabs a:hover {
//   cursor: pointer;
//   text-decoration: none;
//   opacity: 0.8;
//   font-weight: 300 !important;
// }
// .tabs h2 {
//   font-size: 20px;
//   font-family: 'Raleway', sans-serif;
//   font-weight: 300 !important;
//   text-transform: uppercase;
//   letter-spacing: 0.5px;
//   font-weight: bold;
//   margin-top: 0;
// }
// .tab {
//   background-color: #FFF;
//   flex: 0 0 33%;
//   text-align: center;
//   padding: 10px 0;
// }

// .tab.active h2 {
//   background: transparent;
//   color: #F7ABB2;
//   font-weight: 400 !important;
//   text-decoration: none !important;
//   padding: 0;
// }
