<div class="artist-prices-card">
  <div class="menu-title">
    <h2>Menu</h2>
  </div>
  <div class="menu-category">
    <h3>Makeup</h3>  <!--will be @artist.category -->
  </div>
  <ul class="artist-price-list">  <!--will iterate over artist services -->
    <li>Full Face Makeup - $50</li>
    <li>Special FX Makeup - $100</li>
    <li>False Lashes - $10</li>
    <li>Wedding Makeup - $75</li>
  </ul>
</div>
