<div class="dashboard-container">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="new-requests">
        <h2>New Requests</h2>
        <%= render 'shared/booking-listing' %>
      </div>
      <div class="upcoming-bookings">
        <h2>Upcoming Bookings</h2>
        <%= render 'shared/booking-listing' %>
        <%= render 'shared/booking-listing' %>
        <%= render 'shared/booking-listing' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7">

      <div class="calendar">

      </div>

    </div>
  </div>

</div>
