<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="new-requests">

      </div>
      <div class="upcoming-bookings">

      </div>
    </div>
    <div class="col-xs-12 col-sm-7">

      <div class="calendar">

      </div>

    </div>
  </div>

</div>
