<div class="artist-prices-card">
  <div class="menu-title">
    <h2>Menu</h2>
  </div>
  <ul class="artist-price-list">
    <% @artist.artist_services.each do |service| %>
      <li><%= service.name %> - $<%= service.price %></li>
      <!--will iterate over artist services -->
    <% end %>
  </ul>
  <%= button_to "REQUEST #{@artist.first_name.upcase}", new_artist_consumers_request_path(@artist.id),
  :class => "btn-pamprd request-btn", :method => :get %>
</div>
