<div class="artist-prices-card">
  <div class="menu-title">
    <h2>Menu</h2>
  </div>
  <ul class="artist-price-list">
    <% @artist.artist_services.each do |service| %>
      <li><%= service.name %> - $<%= service.price %></li>
      <!--will iterate over artist services -->
    <% end %>
  </ul>
</div>
