<div class="dashboard-container">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class="new-requests">
        <h2>New Requests</h2>
        <% if @requests.status == 'unconfirmed' %>
          <%= render 'shared/booking-listing' %>
        <% end %>
      </div>
      <div class="upcoming-bookings">
        <h2>Upcoming Bookings</h2>
        <% if @requests.status == 'confirmed' %>
          <%= render 'shared/booking-listing' %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7">

      <div class="calendar">

      </div>

    </div>
  </div>

</div>
