<div class="banner" style="margin: 0 -10px; background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0.2) 100%), url('http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1496262114/intro-travel-beauty-comp-TRAVBEAUTY0517.jpg?itok=uUGOLx5x');">
  <div class="banner-content">
    <h1>Your own personal glam squad.</h1>
    <%= render 'shared/searchbar'%>
  </div>
</div>
