<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1496262114/intro-travel-beauty-comp-TRAVBEAUTY0517.jpg?itok=uUGOLx5x');">
  <div class="banner-content">
    <h1>Your own personal glam squad.</h1>
    <%= render 'shared/searchbar'%>
  </div>
</div>
