<div class="banner" style="margin: 0 -10px; background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0.2) 100%), url('http://res.cloudinary.com/dl12g2ws3/image/upload/v1505579122/cropped-pamprd-banner_smo3j5.jpg');">
  <div class="banner-content">
    <h1>Your own personal glam squad.</h1>
    <%= render 'shared/searchbar'%>
  </div>
</div>
