<div class="booking-listing">
 <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="booking-name">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  <div class="booking-details">
    <p><strong>Booking Service - Time</strong></p>
    <p>Address</p>
  </div>
  <div class="booking-status">
    <p class="status-unconfirmed">Unconfirmed</p>
    <p class="booking-price">$50</p>
  </div>
</div>
