<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> UpDo </h3>
                    <ul>
                        <li> <a href="#"> About us </a> </li>
                        <li> <a href="#"> Careers </a> </li>
                        <li> <a href="#"> Polices </a> </li>
                        <li> <a href="#"> Help </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Get Updid </h3>
                    <ul>
                        <li> <a href="#"> Trust and Safety </a> </li>
                        <li> <a href="#"> Gift Cards </a> </li>
                        <li> <a href="#"> Partner </a> </li>
                        <li> <a href="#"> Contact </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Partner </h3>
                    <ul>
                        <li> <a href="#"> Why partner </a> </li>
                        <li> <a href="#"> Business Advice </a> </li>
                        <li> <a href="#"> Artist and Stylist Blog </a> </li>
                        <li> <a href="#"> Add Services</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Connect </h3>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

            <div class="pull-right">
                <ul class="nav nav-pills payments">
                  <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
    </div>
    <!--/.footer-bottom-->
</footer>
