<hr>
<div class="info_card">
  <h1>How it works</h1>
  <h3>From the chicest weddings to the scariest Halloweens, find a makeup aritst or hairstylist that will hook you up!</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
        <i class="fa fa-search fa-5x" aria-hidden="true"></i>
          <div class="card-category">Search</div>
            <div class="card-description">
              <h2>Browse makeup artists and hair stylists based services and location</h2>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
        <i class="fa fa-calendar-o fa-5x" aria-hidden="true"></i>
          <div class="card-category">Book</div>
            <div class="card-description">
              <h2>Book the makeup artist that matches your needs and budget</h2>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
        <i class="fa fa-heart-o fa-5x" aria-hidden="true"></i>
          <div class="card-category">Updo</div>
            <div class="card-description">
              <h2>Sit back and relax! Your new favorite beautician is on their way to hook you up!</h2>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



