<div class="search-filter dropdown">
<ul class="list-inline filter-nav">
<!-- FILTER 1 -->
  <li class="dropdown"><a href="#" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Tags<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li role="presentation"><a href="#">Halloween</a></li>
    <li role="presentation"><a href="#">Wedding</a></li>
    <li role="presentation"><a href="#">Fierce</a></li>
    <li role="presentation"><a href="#">Natural</a></li>
  </ul></li>
  <!-- FILTER 2 -->
    <li class="dropdown"><a href="#" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Price Range<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li role="presentation"><a href="#">$0-50</a></li>
    <li role="presentation"><a href="#">$50-$100</a></li>
    <li role="presentation"><a href="#">$100-$200</a></li>
    <li role="presentation"><a href="#">$200+</a></li>
  </ul></li>
  <!--FILTER 3 -->
  <li class="dropdown"><a href="#" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">More Filters<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li role="presentation"><a href="#">Top Rated</a></li>
    <li role="presentation"><a href="#">Licensed</a></li>
    <li role="presentation"><a href="#">Female</a></li>
    <li role="presentation"><a href="#">Eco-friendly</a></li>
  </ul></li>
  <!--VIEW ALL ARTISTS -->
  <li> <%= link_to 'VIEW ALL', artists_path, class: 'filter-view-all' %></li>
</div>
