<div class="search-banner" style="margin: 0 auto; background-image: url('http://res.cloudinary.com/dl12g2ws3/image/upload/v1505770962/makeup-brushes_lef2xk.jpg');">
    <h1>Search Results</h1>
</div>
