<div class="search-filter dropdown">
<ul class="list-inline filter-nav">
<!-- FILTER 1 -->
  <li class="dropdown"><a href="#" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Tags<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li role="presentation">Example</li>
    <li role="presentation">Example</li>
    <li role="presentation">Example</li>
    <li role="presentation">Example</li>
  </ul></li>
  <!-- FILTER 2 -->
    <li class="dropdown"><a href="#" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Price Range<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li role="presentation">$0-50</li>
    <li role="presentation">$50-$100</li>
    <li role="presentation">$100-$200</li>
    <li role="presentation">$200+</li>
  </ul></li>
  <!--FILTER 3 -->
  <li class="dropdown"><a href="#" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">More Filters<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li role="presentation">Example</li>
    <li role="presentation">Example</li>
    <li role="presentation">Example</li>
    <li role="presentation">Example</li>
  </ul></li>
  <!--VIEW ALL ARTISTS -->
  <li> <%= link_to 'VIEW ALL', artists_path, class: 'filter-view-all' %></li>
</div>
