.artist-prices-card {
  background-color: #FFF;
  padding: 40px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  width: auto;
  margin-bottom: 40px;
}

.artist-prices-card h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding-bottom: 20px;

}

.artist-prices-card h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.menu-title {
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.menu-category {

}

.artist-prices-card ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 20px;
}

.artist-price-list li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
}

.artist-prices-card button {
  width: 100%;
}
