.booking-listing {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.booking-name {
  padding-left: 10px;
  min-width: 100px;
}

.booking-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}

.booking-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.booking-details {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}

.booking-details p {
  margin: 6px 0;
}

.booking-status {
  font-size: 14px;
  font-weight: bold;
}

.booking-price {
  font-weight: bold;
}

.status-unconfirmed {
  color: lightgrey;
}

.status-confirmed {
  color: green;
}
