#dashboard-nav-wrapper {
  width: 12%;
  margin: 0;
  background-color: white;
  color: #757575;
  height: 100vh;
  position: fixed;
  text-transform: uppercase;
  font-size: 14px;
}

#dashboard-nav-wrapper ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

#dashboard-nav-wrapper li {
  color: #757575;
  padding: 15px 0px;
  flex-grow: 1;
  flex-shrink: 0;
    i {
    color: #757575;
    }
  &:hover {
    color: $pink;
    i {
      color: $pink;
    }
  }
}

#dashboard-nav-wrapper li a {
  color: #757575;
  &:hover {
    color: $pink;
  }
}

#dashboard-nav-wrapper i {
  display: block;
}

.dash-tab {
  color: #757575;
  opacity: 0.8;
  &:hover {
    color: $pink;
  }
}

.hidden {
  display: none;
}

.dash-tab.active {
  background-color: white;
  color: $pink;
  li > a {
    color: $pink;
  }
  i {
    color: $pink;
  }
}

@media screen and (max-width: 1024px) {
  #dashboard-nav-wrapper {
    display: table;
    margin: 0 auto !important;
    width: 100%;
    background-color: white;
    color: #757575;
    height: 30px !important;
    position: sticky;
  }

  #dashboard-nav-wrapper ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
    display: inline-block;
    height: 40px !important;
  }
  #dashboard-nav-wrapper li {
    display: inline-block;
    color: #757575;
    padding: 0.94rem 1.3rem;
  }

  .dash-nav-header {
    display: none !important;
  }

  #dashboard-nav-wrapper i {
    font-size: 14px;
  }
}
