.booking-card {
  height: 360px;
  width: 360px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.booking-card-user {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  border-radius: 50%;
 /*for the img inside your div */
  position: absolute;
  left: 130px;
  top: 90px;
  vertical-align: middle;
}
.booking-card-artist {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.booking-card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.booking-card-description {
  text-align: center;
  position: absolute;
  top: 170px;
  left: 50px;
  right: 50px;
}
.booking-card-description h2 {
  font-size: 24px;
}
.booking-card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.booking-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.booking-card-link:hover {
  opacity: 0.1;
}
