*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.booking-card {
  margin: 0px 0px 20px 0px !important;
  min-height: 360px;
  height: auto;
  width: 100% !important;
  padding: 0px !important;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  &:hover {
    .booking-bkgrd-image {
      filter: contrast(100%);
    }
  }
}

.booking-user-image {
  align-items: center;
  width: 100%;
  /* height: 0px; */
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
  margin-top: -11px;
}

.booking-card-user {
  max-width:100%;
  max-height:95px;
  width: auto;
  height: auto;
  border-radius: 50%;
 /*for the img inside your div */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  // vertical-align: middle;
}

.booking-name {
  font-family: 'Raleway', serif;
  color: #757575 !important;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
}

.booking-name a {
  text-decoration: none;
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  &:hover {
    color: #f7abb2;
  }

}

.booking-card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.booking-bkgrd-image {
  width: 100%;
  background-color: $pink;
  opacity: 0.2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  // filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 56.25%; // 3:2 aspect ratio
    }
  }
}

.card__text {
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.booking-status {
  text-transform: uppercase;
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}








