// .btn-medium {
//   color: #999999;
//   border: 1px solid #999999;
//   padding: 10px 15px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.6;
// }
// .btn-medium:hover {
//   opacity: 1;
//   text-decoration: none;
//   color: #999999;
// }
.btn-pamprd {
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  font-weight: bold;
  background: #F7ABB2;
  transition: background 0.3s ease;
  text-transform: uppercase;
  border-width: 0;
  height: 50px;
}
.btn-pamprd:hover {
  opacity: 1;
  background: #212121;
  border-width: 0;
  text-decoration: none;
  color: white;
}


.btn {
  background-color: #ffffff;
  color: #000000 !important;
  border: none;
  display: inline-block;
  outline: 0;
  padding: 5px 5px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  float: left!important;
  font-size: 10px !important;
  border: 1px solid #cccccc;
  margin-top: 4px;
  margin-left: 4px;
}
.btn:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
outline-width: 0;
}

/* Build your own button classes ! */
