.messaging-container {
  height: 800px !important;
  width: auto;
  margin: 0px 20px;
  word-wrap: break-word;
  overflow-y:auto;
  overflow-x: hidden;
}

.new-message {
  margin-bottom: 70px !important;
  width: 100%;
  word-wrap: break-word;
  text-align: right;

}


.messaging-container h2 {
  color: #757575;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-bottom: 20px;
}

.new-message textarea {
  // border: 1px solid #757575;
  margin: 0px 10px 10px 0px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.5);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.5);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.5);
}

.new-message input[type=submit] {
  text-align: right;
  // margin-bottom: 20px
  float: left;
}

.conversation {
  // margin-top: 20px;
  padding-top: 30px;
  display: inline-block;
  float: left;
}


// .messaging-container {
//   margin-right: 10px;
//   margin-top: 20px;
//   height: auto;
// }

.current_user{
  // width: 400px;
  border: 0.5px solid #fafafa;
  text-align: right;
  background-color: #fafafa;
  border-radius: 5px;
  margin: 10px 10px 20px 50px;
  background-color: #FFF;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.7);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.7);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.7);
  p {
    font-family: 'Open Sans', sans-serif;
    color: #757575 !important;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }
  .msg-date {
    font-size: 12px;
    font-weight: 300;
    opacity: 0.9;
  }
}

.other_user{
  background-color: #efeded;
  opacity: 0.8;
  text-align: left;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.8);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.8);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,0.8);
  p {
    font-family: 'Open Sans', sans-serif;
    color: #757575 !important;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }
  .msg-date {
    font-size: 12px;
    font-weight: 300;
    opacity: 0.9;
  }
}


