.search-result-card {
  padding: 15px 10px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin: 0 auto;
  margin-bottom: 10px !important;
  width: 660px;
  height: auto;
  background-color: white;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
}

/* Body design */

.search-body a {
  text-decoration: none;
  color: #757575;
  &:hover {
    color: $pink;
    font-weight: 400;
  }
}
.search-body h3 {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0;
  margin-bottom: 5px;
}

.search-body ul {
  margin-bottom: 0px;
}

.search-body p {
  font-size: 12px;
  font-weight: lighter;
  color: #757575;
  margin-bottom: 0;
  margin-top: 0px;
  padding: 0px !important;
  margin: 0px !important;

}

.paragraph-bold {
  font-size: 14px !important;
  font-weight: 400 !important;
}

/* search image */
.search-image {
  border-radius: 3px;
  // margin-top: 20px;
  margin-right: 20px;
  width: 392px;
  height: auto;
}

.search-img-wrapper {   /* For temporary artist photos on search page */
  max-height: 160px;
  overflow: hidden;
  max-width: auto;
  margin-top: -20px;
}

.search-img-wrapper img {
  max-height: initial;
  border-radius: 3px;
  margin-top: 20px;
}

.search-btn {
  text-align: right;
}

.fa-star {
  margin-left: 5px;
}

/*MOBILE RESPONSIVE*/

@media screen and (max-width: 1000px) {
  .search-result-card {
    margin: 15px 10px;
    width: auto;
    padding: 10px;
    text-align: center;
  }
  .search-body h3 {
    margin-top: 10px;
  }
  .search-body p {
    margin-bottom: 10px;
  }
  .search-image {
    border-radius: 3px;
    padding: 0px;
    margin: 10px;
    width: 100%;
    height: auto;
  }

  .search-btn {
    text-align: center;
  }
  .search-result-card input[type=submit] {
    width: 100%;
  }
}

/*AS BOOTSTRAP */

// .search-container {
//   width: 1000px;
// }

// .search-card {

//   padding: 20px;
//   overflow: hidden;
//   margin-bottom: 20px;
//   height: auto;
// }

// .col-xs-12 btn {
//   width: 100%;
// }

// .search-card img {
//   min-width: 100%;
//   min-height: 100%;
//   border-radius: 3px;
//   position: absolute;
//   clip: rect(0px,300px,200px,0px);
// }

// .search-container {
//   width: 800px;
//   max-width: 90%;
// }
