.search-form {
  color: #212121;
  height: 50px;
  border-radius: 3px;
  background-color: white !important;
  display: inline;
}

@media screen and (max-width: 780px) {

.search-details {
  display: none;
}
.search-form {
  color: #212121;
  height: 50px;
  border-radius: 3px;
  background-color: white !important;
}

.search-service{
  width: 90%;
  margin: 2px;
}


.search-date{
  width: 90%;
  margin: 2px;
}

.search-time{
  width: 90%;
  margin: 2px;
}

.search-location{
  width: 90%;
  margin: 2px;
}

.search-button{
  width: 90%;
  margin: 2px;
}
}
