.search-result {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin: 10px 200px;
  border-bottom: 1px solid rgba(220,224,244,0.6);
}

/* Body design */
.search-body {
  flex: 1 1 auto;
}

.search-body a {
  text-decoration: none;
  color: #757575;
  &:hover {
    color: #f7abb2;
  }
}
.search-body h3 {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  margin-top: 0;
}
.search-body p {
  font-weight: lighter;
  color: #757575;
  margin-bottom: 0;
}

/* Product image */
.search-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}


/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}

