// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";
@import "bootstrap-timepicker";
@import "jquery.timepicker.css";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";



#consumer_request_date {
  line-height: normal !important ;
  padding-left: 0 !important;
  border-bottom-color: rgba(0, 0, 0, 0.3) !important;
  background: transparent !important;
  outline: none !important;
  color: #757575 !important;
  height: 50px !important;
  border-radius: 0px !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  width: 100% !important;
  margin-bottom: 10px;
  font-weight: lighter;
}

#basicExample {
  line-height: normal !important ;
  padding-left: 0 !important;
  border-bottom-color: rgba(0, 0, 0, 0.3) !important;
  background: transparent !important;
  outline: none !important;
  color: #757575 !important;
  height: 50px !important;
  border-radius: 0px !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  width: 100% !important;
  margin-bottom: 10px;
  font-weight: lighter;
}

#consumer_request_address {
  line-height: normal !important ;
  padding-left: 0 !important;
  border-bottom-color: rgba(0, 0, 0, 0.3) !important;
  border-bottom-width: 2px;
  background: transparent !important;
  outline: none !important;
  color: #757575 !important;
  height: 50px !important;
  border-radius: 0px !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  width: 100% !important;
  margin-bottom: 10px;
  position: relative;
  float: left;
  -webkit-box-shadow: none !important;
  font-weight: lighter;
}



.consumer-request-form label, p {
  font-size: 12px !important;
  // margin: 37px 0px;
  color: #757575;

}
.consumer-request-form .btn-pamprd {
  float: right;
  margin-bottom: 52px;
}


.consumer_request_arist_service_name {
  width: 100% !important;
}


.consumer-request-form {
  padding-bottom: 32px;
  margin-bottom: 23px;
  padding-top: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
  box-shadow: 0px 2px 8px -3px rgba(117,117,117,1);
}

